---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>
  
  {{ content }}

  <h2>读书</h2>
  <ul>
    {% for post in site.posts %}
        {% if post.categories contains "Reading" %}
      <li>
        <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
            <a class="" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </li>
        {% endif %}
    {% endfor %}
  </ul>


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
